.input {
  display: block;
  width: 488px;
  height: 40px;
  border: 1px solid #dfe3e6;
  padding: 8px 10px;
  border-radius: 5px;

  &:disabled {
    border: 1px solid #808080;
  }

  &:hover {
    border: 1px solid black;
  }

  &:focus {
    border: 1px solid #dfe3e6;
    outline: none;
  }

  &:active {
    border: 1px solid #dfe3e6;
  }

  &::placeholder {
    color: #bec5cc;
  }

  &-label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
  }
}
.error {
  outline: none;
  border: 1px solid #ea0029;
}
.error-label {
  color: #ea0029;
}

@media screen and (min-width: 320px) and (max-width: 452px) {
  .input {
    font-size: 14px;
    line-height: 24px;
    width: 288px;
    height: 40px;
  }
}
@media screen and (min-width: 453px) and (max-width: 552px) {
  .input {
    width: 389px;
    height: 40px;
  }
}
