.deduction {
  display: flex;
  flex-direction: column;
  margin: 32px 32px 32px 32px;

  &-add {
    display: flex;
    justify-content: center;
  }

  &__count {
    margin-top: 8px;
  }

  &__header {
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 16px;
  }

  &__paragraph {
    width: 488px;
    height: 72px;
    margin-bottom: 24px;
    font-weight: 400;
    color: #808080;
  }

  &-decrease {
    display: flex;
    align-items: center;
    margin: 20px 0 40px 0;

    &__header {
      font-size: 14px;
      font-weight: 500;
      margin-right: 76px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 452px) {
  .deduction__header {
    font-size: 18px;
    line-height: 24px;
  }
  .deduction__paragraph {
    width: 288px;
    height: 64px;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 24px;
  }
  .deduction__count {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 24px;
  }
  .deduction-decrease__header {
    font-size: 14px;
    line-height: 24px;
  }
  .deduction-decrease {
    margin: 0;
    flex-direction: column;
    align-items: flex-start;
  }
  .deduction-add {
    margin-top: 40px;
  }
}
@media screen and (min-width: 453px) {
  .deduction-decrease__header {
    margin-right: 32px;
  }
}
