.modal {
  @keyframes modal {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  animation: modal 0.4s linear;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #b3b3b3;
  overflow: auto;

  &-content {
    position: relative;
    max-width: 550px;
    background: white;
    border-radius: 30px;
    padding: 32px;
    margin: 120px auto 20px;

    &__close {
      position: absolute;
      top: 27px;
      right: 27px;
      background: none;
      border: none;
    }
  }
}
@media screen and (max-width: 452px) {
  .close-container {
    display: flex;
    justify-content: flex-end;
  }
  .modal-content__close {
    position: static;
  }
  .modal-content {
    width: 100%;
    min-height: 100vh;
    padding: 32px 16px 16px 16px;
    border-radius: 0px;
    margin: 0;
  }

  .modal-content__close {
    width: 24px;
    height: 24px;
    top: 22px;
    right: 22px;
  }
}
@media screen and (min-width: 453px) and (max-width: 552px) {
  .modal-content {
    width: 453px;
    max-height: 740px;
    padding: 32px;
    margin: 0 auto;
  }
  .modal-content__close {
    width: 40px;
    height: 40px;
    top: 16px;
    right: 12px;
  }
}
